<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junmeng.android_java_example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gesture.DragActivity"></activity>
        <!-- <meta-data android:value="true" android:name="android.notch_support"/> -->
        <activity android:name=".statusbar.StatusBarActivity">

            <!-- 允许绘制到小米刘海屏机型的刘海区域 -->
            <meta-data
                android:name="notch.config"
                android:value="portrait" />
            <!-- 允许绘制到oppo、vivo刘海屏机型的刘海区域 -->
            <meta-data
                android:name="android.max_aspect"
                android:value="2.2" />

            <!-- 允许绘制到华为刘海屏机型的刘海区域 -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity android:name=".round_layout.RoundLayoutActivity" />
        <activity android:name=".anim.animatelayout.ViewAnimatorActivity" />
        <activity android:name=".anim.animatelayout.PropertyAnimatorActivity" />
        <activity android:name=".anim.AnimListActivity" />
        <activity android:name=".anim.animatelayout.AnimateLayoutActivity" />
        <activity android:name=".gesture.GestureActivity" />
        <activity android:name=".livedata.LiveDataActivity" />
        <activity
            android:name=".frags.FragContainerActivity"
            android:launchMode="standard" />
        <activity android:name=".common.BaseActivityDelegate" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>